body {
  background: #8a94d1;
}

.first-container {
  background-color: #e4e3e3;
  height: auto;
  width: auto;
  border: solid #204051 5px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  padding: 10px;
}

/*.wtitle {
  color: #6e7bcc;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.sub-wtitle {
  color: #395475;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  font-size: 20px;
}

.nickvivor-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.explanation-container {
  background-color: #e4e3e3;
  height: auto;
  width: auto;
  border: solid #204051 5px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 3%;
  padding: 5px;
}

.mini-exp-container {
  background-color: #e4e3e3;
  height: auto;
  width: auto;
  border: solid darkgray 2px;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 1%;
  padding: 3px;
}

.exp-title {
  color: #395475;
  text-align: center;
  font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  font-size: 18px;
}

.exp-text {
  color: #606161;
  text-align: left;
  font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Andale Mono",AndaleMono,monospace;
  font-size: 15px;
  line-height: 1.1;
}

span {
  color: red;
}

.second-container {
  background-color: #e4e3e3;
  height: auto;
  width: auto;
  border: solid #204051 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  padding: 20px;
}

.intro-title {
  color: #395475;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}

.click-pic {
  color: darkgray;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}

.intro-card {
  border: solid #878787 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.third-container {
  background-color: #e4e3e3;
  height: auto;
  width: auto;
  border: solid #204051 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
  padding: 20px;
}

.chapter1-title {
  color: #395475;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
}

.chapter1-card {
  border: solid #878787 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
