body {
  background: #8a94d1;
}
.first-container {
  background-color: #e4e3e3;
  height: auto;
  width: auto;
  border: solid #204051 5px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  padding: 20px;
}
.wtitle {
  color: #6e7bcc;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Console";
}
.sub-wtitle {
  color: #395475;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Console";
}
.nickvivor-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.second-container {
  background-color: #e4e3e3;
  height: auto;
  width: auto;
  border: solid #204051 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  padding: 20px;
}
.intro-title {
  color: #395475;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Console";
}
.click-pic {
  color: darkgray;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Console";
}
.intro-card {
  border: solid #878787 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.third-container {
  background-color: #e4e3e3;
  height: auto;
  width: auto;
  border: solid #204051 5px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 1%;
  padding: 20px;
}
.chapter1-title {
  color: #395475;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lucida Console";
}
.chapter1-card {
  border: solid #878787 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
