.text-introduction {
  color: black;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Courier Prime', monospace;
}

.distant-laughter1 {
  color: darkgrey;
  line-height: 1.6;
  text-align: right;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Courier Prime', monospace;
}
